/*Intro row start*/
.intro {
    grid-area:intro;
    justify-self:start;
    align-self: center;
    color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
}
.hand {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.header-icons {
    width: 1.562rem;
    height: 1.562rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}
.name {
    color: var(--primary-green-color);
    font-size: 2em;
}

/*Intro row end*/

/*Skill row start*/
.skill-container {
    margin:0;
    display: flex;
    flex-direction: row;
    color: var(--primary-text-color);
    justify-self: start;
    grid-area: skill-container;
    width: 65rem;

}

.skill-box {
    display: flex;
    flex-direction: column;
    width: 7rem;
    height: 6rem;
    background-color: var(--secondary-background);
    border-radius: 0 12% 12% 12%;
    /*border-radius: 0.625rem;*/
    margin: 0 3.125rem 0 3.125rem;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;


}

.skill-box:first-child
{
    margin-left: 0;
}

.skill-box:last-child {
    margin-right: 0;
}

.skill-image > img {
    padding: 10px 0 5px 0;
    height: 2.812rem;
    width: 2.812rem;
}


.skill-text {
    padding-top: 0.2rem;
    margin: auto;
    color:  var(--secondary-text-color);
}

.skill-header {
    grid-area: skill-header;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    font-size: 2em;
    font-weight: bold;
    justify-self: start;
    align-self: end;


}

/*Skill row end*/

/*Project row starts*/
.project-header {
    grid-area: project-header;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    font-size: 2em;
    font-weight: bold;
    justify-self: start;
    align-self: end;
}

.project-container {
    grid-area: project-container;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
}


.project-box {
    display: flex;
    flex-direction: column;
    /*width: 63rem;*/
    width: 100%;
    /*height: fit-content;*/
    min-height: 46rem;
    border-radius: 0.625rem;
    background-color: var(--secondary-background);
    overflow-wrap: break-word;
    /*padding: 1rem;*/


}
.project-box:nth-child(2),
.project-box:nth-child(3){
    margin-top: 3rem;
}

.carousel {
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem ;
}
.carousel-image {
    margin-bottom: 2rem;

}

.project-text-container {
    margin: 1rem 2rem 2rem 2rem;
}
.project-title {
    display: flex;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 25px;
    align-self: start;
    justify-content: space-between;
}

.projects-skills {
    margin:0 0.625rem 0 0.625rem;
    padding: 0.312rem 0.437rem 0.312rem 0.437rem;
    color:  var(--skill-button-text);
    background-color: var(--skill-button-background);
    border-radius: 0.312rem;
    align-self: start;

}

.projects-skills:first-child{
    margin-left: 0;
}

.project-description {
    color:  var(--secondary-text-color);
    padding-top: 1rem;
}

.git-button {
    background-color: transparent;
    padding: 0.312rem 0.437rem 0.312rem 0.437rem;
    border-radius: 0.312rem;
    border: 0.125rem solid var(--primary-green-color);
    color: var(--primary-green-color);
    font-weight: bold;

}

.git-button:hover, .demo-button:hover{
    background-color: var(--primary-green-color);
    color: var(--primary-text-color);
}

.demo-button {
    background-color: transparent;
    padding: 0.312rem 0.437rem 0.312rem 0.437rem;
    border-radius: 0.312rem;
    border: 0.125rem solid var(--primary-green-color);
    color: var(--primary-green-color);
    font-weight: bold;
    margin-left: 10px;

}


.git-demo-buttons {

}

button:hover {
    cursor: pointer;
}
/*Project row ends*/

